<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文件上传</title>
    <script src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/downAndUpLoad.js"></script>
    <script type="text/javascript" src="/js/jquery-form.js"></script>
</head>
<body>
    <form id="formFile">
        文件1：<input type="file" name="UpFile" id="fileOne"/>
        文件2：<input type="file" name="UpFile" id="fileTwo"/>
        <input type="button" value="上传" id="submit">
    </form>
    <input type="text" id="fileName">

    <button id="download_one">下载渠道1</button>
    <button id="download_tow">下载渠道2</button><br>

    <form id="uploadForm" enctype="multipart/form-data" method="post">
        <input id="upExcel" type="file" name="upExcel">
        <input type="button" value="导入" id="upLoadPayerCreditInfoExcel" name="btn">
    </form><br>

    <a href="/web/excel/export">导出</a>
</body>
</html>